# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
MONGO_URI=mongodb://localhost:27017/smartspace_db

# JWT Security Secrets (Use long, random strings in production)
JWT_ACCESS_SECRET=your_jwt_access_secret_key_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_here

# Token Expirations
ACCESS_TOKEN_EXPIRES=15m
REFRESH_TOKEN_EXPIRES=7d

# Client Configuration
CLIENT_URL=http://localhost:5173

# Stripe Credentials
STRIPE_PUBLIC_KEY=your_stripe_public_key
STRIPE_SECRET_KEY=your_stripe_secret_key

#https://smartspaceai.me/api/billing/webhook
STRIPE_WEBHOOK_KEY=your_stripe_webhook_key